{% extends 'base.html' %}
{% block content %}
<div id="artic">
	<p> I sank to the sofa and leaned back against the backrest, staring up at the ceiling, waiting for inspiration to strike. It didn’t. There was no order to my thoughts. They jumped and tumbled like autumn leaves in a whirlwind.</p>
    <p>“Stop worrying, we can ask a Decoration Company for help.” From the distant background came my husband’s voice. It took a few minutes for all the words sank in. Comprehension slammed into my brain and I sprang to my feet.</p>
    <p> “Are you sure?” I found it hard to believe, because just a month ago my husband was strongly against the idea of finding a Decoration Company.</p>
   <p>“That’s an option,” he shrugged his shoulder, “Face it, coming to decoration, we are the outsiders of outsiders. Perhaps it’s better to leave it in the hands of the experts.
Humility isn’t one of my husband’s strengths. If he said so, he already thought it through.      However, it is still not easy. As far as I know, Decoration Company usually reeks of overcharged and underperformed odor. In fact you can’t find any decoration company without a train of complaints tailed. There is even a website dedicated to Decoration trap and related issues. Besides, there are money issues to consider. We were even not sure we could afford one.</p>
     <p>Fate always has a funny way to change the course of the events. Fortune teller said that I was under a lucky star this year. I guess at least part of it was true. That day I was chatting causally with B by QQ, and when the conversation unavoidablly coming to decoration, which pretty much had occupied most of my thoughts recently, B told me that she happened to know New Space’s boss, in fact, they were very close. New Space was one of the most famous decoration companies in Chengdu. Only if..... I always felt embarrassed to ask a favor, I hate to impose on the others, but I couldn’t let this chance go. As I tried to figure out a proper way to express it, a message from B popped out: “You can do some research. If you decided on New Space, I could make a call.” B was indeed a life saver. It couldn’t be better, really.</p>
	 <blockquote>class download:<br />
def GET(self):<br />
title='Download'<br />
content='this is the download page'<br />
return render.base(locals())</blockquote>
        <p>The next day, we paid visits to several decoration companies. Price, service, and style. We compared, did the match and made our choice---New Space. The money is also OK, though this would drain us off, but as long as we were careful we could manage. I told B about our decision, and B made the call immediately. I didn’t know how B told her friend, but Q, new space’s boss, didn’t take this call lightly. She arranged everything in person and I was really impressed. Finally we signed the contract, and now the inferior designer started to design our house.</p>
     <p> We still have a mountain to climb. But at lease we had a good start</p>
	
</div>
{% endblock %}



