{% extends 'base.html' %}
{% block content %}
<div id="artic_list">
	<div class="item">
		<b>Username and the article title</b>   <span class="dark">2010-07-11 23:56 BeiJing</span>
		<p><a href="/artic/1234">contentasdfasdfasdfasdfasdfasdfasdfasdfa  view all</a></p> 
	</div>	<div class="item">
		<b>Username</b>   <span>中文2010-07-11 23:56 BeiJing</span>
		<p>contentasdfasdfasdfasdfasdfasdfasdfasdfa</p>
	</div>	<div class="item">
		<b>Username</b>   <span>2010-07-11 23:56 BeiJing</span>
		<p>contentasdfasdfasdfasdfasdfasdfasdfasdfa</p>
	</div>	<div class="item">
		<b>Username</b>   <span>2010-07-11 23:56 BeiJing</span>
		<p>contentasdfasdfasdfasdfasdfasdfasdfasdfa</p>
	</div>
	<div class="center">up next</div>
</div>
{% endblock %}



